body {
  background-color: #ffffff;
  font-family: sans-serif;
  
}

.req-demo-container{
  display: flex;
  justify-content: center;
  
  
}

.req-demo-content{
  height: 88%;
  width: 100vw;
  
}

.req-demo-form-container{
  margin-top: 2px;
  display: flex;
  justify-content: center; /* Aligns the form details to the center */
  align-items: center;
  margin-left: 40px;
  margin-right: 90px;
  width: 600px;
  height: 730px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  padding-right: 50px;
  
 
 
 
}

.req-demo-image-container{
  margin-top: 110px;
  height: 70vh;
  width: 40vw;
  
}

.container {
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  
   
}


form {
  display: flex;
  flex-direction: column;
  width: 400px;
  
  padding: 20px;
  margin-top: 100px;

 
 
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #d9d9d9;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button[type="submit"] {
  font-family: 'Roboto';
  font-size: 20px;
  color: #ffffff;
  padding: 8px 16px;
  margin-top: 1px;
  margin-bottom: 1px;
  background-color: #12c2fc;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
  width: 10cm;
  height: 1cm;
}

button[type="submit"]:hover {
  opacity: 0.8;
}



.error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
}


/* .heading {
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
} */


.paragraph {
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.form-title1 {
  font-size: 40px;
  color: #00b4fb;
  font-weight: 1000;
  position: absolute;
  left: 150px;
  top: 110px;
}