.AquaSquare {
    background-color: rgb(195, 247, 247);
    width: 1500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Logo {
    align-content: safe;
  }
  
  .Notification {
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
  }
  