.up {
  font-family: sans-serif;
  left: 5%;
  margin-top: 6cm;
  transform: translateY(-50%);
  text-align: center;
  
  
  
}

.down {
  font-family: sans-serif;
  left: 40%;
  margin-top: 10%;
  transform: translateY(-50%);
  text-align: left;

  
}

.option-image-container {
  height: 12rem;
  width: 12rem;
}

.App {
  font-family: sans-serif;
  position: relative;
  left: 2%;
  text-align: left;
  margin-top: 50px;
}

.calendar {
  border: 50px;
  background-color: #00ffff;
}

.react-datepicker__time-list {
  max-height: 150px;
  overflow-y: auto;
}

.react-datepicker__time-list-item--selected {
  background-color: #C0FAFA;
  color: #000;
}



.select-seller {
  margin-bottom: 20px;
}

.select-seller select {
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
}

.selected-seller {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}









.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
 
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin-top: 0;
}

.method-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.method {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.method img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.method span {
  font-size: 1.2rem;
  text-align: center;
}

.method.selected {
  border: 2px solid #3F85EE;
  border-radius: 5px;
}



.confirm-btn:hover {
  background-color: #6b9fff;
}






.container p:first-of-type {
  margin-top: 0;
}


.button{
  font-family: 'Roboto';
  font-size: 20px;
  color: #ffffff;
  padding: 8px 16px;
  margin-top: 1px;
  margin-bottom: 1px;
  background-color: #12c2fc;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
  width: 10cm;
  height: 1cm;
  margin-left: auto;
  margin-right: auto;
}


.vertical-line {
  border-left: 4px solid rgb(77, 216, 255);
  height: 100%;
  position: absolute;
  left:35%;
  margin-left: -1px;
}

.Ho-line {
  
    border-top: 4px solid rgb(77, 216, 255);
    width:1000px;
    position: absolute;
    top: 55%;
    left: -9.5%;
    margin-top: 100px;
 
}




.reason-field {
  width: 40%;
  height: 50px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  padding: 10px;
}


.DTshow{

  background-color: rgb(132, 236, 241); /* red background color */
  border: 10px solid #12c2fc; /* black border with 1 pixel width */
  padding: 5px; /* 10 pixels of padding around the content */
  
  margin-top: -170px;
  margin-left: 950px;
  width :10cm

}
.DTshowp{

  color: #000000; 
}
.cale{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px; /* Replace the width with the calculated value */
  height: 95%;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 3px;
  margin-left: 30px;
  

}

.para{

  margin-left: 10%;
  font-family: Poppins;
  font-weight: 1000;
}