.view-containerseller {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  
}

.photo-containerseller {
margin-left: -6cm;
margin-top: 5cm;
  height: 15cm;
  width: 15cm;
}

.imgreq {
  height: 70%;
  width: 80%;
  object-fit: cover;
}

.table1 {
  width: 600px;
  height: 400px;
  border-collapse: collapse;
  background-color: #afebff; /* Sky blue background color */
  color: #000000; /* White text color */
  border: 1px solid #ccc;
}

th,
td {
  border: 1px solid #000000; /* White border color */
  padding: 8px;
  text-align: center;
}

th {
  background-color: #17f1fc; /* Dark blue header background color */
  font-weight: bold;
}


.submit-button {
  font-size: 16px;
  color: #ffffff;
  padding: 8px 16px;
  margin-top: 10px;
  background-color: #12c2fc;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

.mainheading {
  position: absolute;
  top: 3cm;
  left: 8cm;
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  font-size: 30px; /* Adjust the font size as desired */
  color: #00d9ff;
}

.details {
  position: absolute;
  top: 5cm;
  left: 9cm;
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  font-size: 20px; /* Adjust the font size as desired */
  color: #000000;
}